services:
  nginx:
    container_name: acc2-nginx
    image: nginx
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /home/ubuntu/AtomicChargeCalculator2/src/deployment/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /home/ubuntu/AtomicChargeCalculator2/src/deployment/nginx/snippets:/etc/nginx/snippets
    networks:
      - acc2-network
    restart: 
      unless-stopped
  db:
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres_prod
      POSTGRES_USER: prod_user
      POSTGRES_PASSWORD: ${PROD_DB_PASSWORD}

  api:
    ports:
      - "8000:8000"
    environment:
      ACC2_DB_URL: "postgresql://prod_user:${PROD_DB_PASSWORD}@db:5432/postgres_prod"
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
  web:
    build:
      args:
        VITE_BASE_API_URL: https://acc2.ncbr.muni.cz:8443/api/v1
    ports:
      - "3000:3000"
