@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

body, #root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@font-face {
  font-family: "Muni";
  src:
    local("Muni"),
    url("assets/fonts/muni-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Muni";
  font-weight: 900;
  src:
    local("Muni"),
    url("assets/fonts/muni-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Muni";
  font-weight: 400;
  src:
    local("Muni"),
    url("assets/fonts/muni-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Muni";
  font-weight: 100;
  src:
    local("Muni"),
    url("assets/fonts/muni-light.ttf") format("truetype");
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  color: var(--foreground);
  /* background-color: #242424; */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@layer base {  
  :root  {
    --background: 142 100% 100%;
    --foreground: 142 5% 10%;
    --card: 142 50% 100%;
    --card-foreground: 142 5% 15%;
    --popover: 142 100% 100%;
    --popover-foreground: 142 100% 10%;
    --primary: 142 100% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104 30% 95%;
    --muted-foreground: 142 5% 40%;
    --accent: 104 30% 90%;
    --accent-foreground: 142 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 142 5% 100%;
    --border: 142 30% 82%;
    --input: 142 30% 50%;
    --ring: 142 100% 34.3%;
    --radius: 0rem;
  }
  .dark  {
    --background: 142 50% 10%;
    --foreground: 142 5% 100%;
    --card: 142 50% 10%;
    --card-foreground: 142 5% 100%;
    --popover: 142 50% 5%;
    --popover-foreground: 142 5% 100%;
    --primary: 142 100% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104 30% 25%;
    --muted-foreground: 142 5% 65%;
    --accent: 104 30% 25%;
    --accent-foreground: 142 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 142 5% 100%;
    --border: 142 30% 50%;
    --input: 142 30% 50%;
    --ring: 142 100% 34.3%;
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
