@media (min-width: 0px) and (max-width: 575px) {
    #root {
        height: 450px;
    }
}

@media (min-width: 576px) {
    #root {
        height: 650px;
    }
}

@media (min-width: 768px) {
    #root {
        height: 750px;
    }
}

/* hide molstar model switching */
.msp-traj-controls {
    visibility: hidden;
}

/* fonts */
body {
    font-family: "Sofia", sans-serif;
}

/* title */
@media screen and (max-width: 767px) {
    h1>.heading>.part1 {
        display: block;
        order: 1;
    }

    h1>.heading>.part2 {
        display: block;
        order: 2;
    }
}