<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PX9FHP880"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9PX9FHP880');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Atomic Charge Calculator II (ACC II) is an application for fast calculation of partial atomic charges.">
    <title>{% block title %} Atomic Charge Calculator II {% endblock title %}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

{% block styles %}
{% endblock styles %}
</head>

<body>

{% block body %}
{% endblock body %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock scripts %}

</body>
</html>
