{% extends 'base/base.html' %}

{% block title %} AtomicChargeCalculator II – Setup computation {% endblock title %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-5 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom: 30px" class="font-weight-bold">Atomic Charge Calculator <span style="color: #28a745">II</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Computation settings</h2>
                <div class="form-text text-muted">
                    Note that the list of methods and parameters shows only suitable combinations for given input
                    structures.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="method_selection">Method</label>
                    <select class="form-control" name="method_select" id="method_selection" style="width:auto;">
                        <optgroup label="3D" id="optgroup3D">
                        </optgroup>
                        <optgroup label="2D" id="optgroup2D">
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold">Full name</label>
                <div id="method_name"></div>
                <label class="font-weight-bold">Publication</label>
                <div id="method_paper"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="parameters_selection">Parameters</label>
                    <small class="form-text text-muted">
                        The most suitable parameters are shown first.
                    </small>
                    <select class="form-control" name="parameters_select" id="parameters_selection" style="width:auto;">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold" id="parameters_paper_label">Publication</label>
                <div id="parameters_paper"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary" id="calculate">Compute</button>
            </div>
        </div>
    </form>

    {% include 'base/flash.html' %}

    <hr>
    {% include 'base/elixir.html' %}

    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}

{% block scripts %}
    {{ super() }}
    <script>
        const method_data = $.parseJSON('{{ methods | tojson | safe }}');
        const parameter_data = $.parseJSON('{{ parameters | tojson | safe }}');
        const publication_data = $.parseJSON('{{ publications | tojson | safe }}');
        const suitable_methods = $.parseJSON('{{ suitable_methods | tojson | safe }}');
        const suitable_parameters = $.parseJSON('{{ suitable_parameters | tojson | safe }}');
    </script>
{% endblock scripts %}

