{% extends 'base/base.html' %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-5 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <input type="hidden" name="type" id="type" value="example"/>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom: 30px" class="font-weight-bold">Atomic<wbr>Charge<wbr>Calculator
                    <span style="color: #28a745">II</span></h1>
                <p><span class="font-weight-bold">AtomicChargeCalculator <span style="color: #28a745">II</span></span>
                    (ACC II) is an application for fast calculation of partial atomic charges. It features 17
                    empirical methods along with parameters from literature.</p>
            </div>
        </div>
        <hr>

    {% include 'base/flash.html' %}

        <div class="row">
            <div class="col">
                <h3>Upload structure</h3>
                <div class="form-group">
                    <label class="font-weight-bold" for="file_input">Input file</label>
                    <input type="file" class="form-control-file" id="file_input" name="file">
                    <small class="form-text text-muted">
                        Single sdf, mol2, pdb or mmcif file or archive (zip, tar.gz) of those files.
                        Maximum file size: 10 MB
                    </small>
                </div>
                <button type="submit" id="charges" name="charges" class="btn btn-success"
                        title="Direct computation of charges using automatically selected empirical charge calculation method.">
                    Compute charges
                </button>
                <button type="submit" id="settings" name="settings" class="btn btn-secondary"
                        title="Selection of empirical charge calculation method and its parameters.">
                    Setup computation
                </button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Examples</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <b>Cis-homoaconitate</b>
                <p>Dissociation</p>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='cis-homoaconitate.png') }}" alt="Cis-homoaconitate"
                     style="height: 200px">
                    <button type="submit" id="example-ligand" name="example-ligand" class="btn btn-primary">Choose
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <b>BAX</b>
                <p>Apoptotic protein activation</p>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='bax.png') }}" alt="BAX" style="height: 200px">
                    <button type="submit" id="example-bax-inactive" name="example-bax-inactive" class="btn btn-primary">
                        Choose inactive
                    </button>
                    <button type="submit" id="example-bax-activated" name="example-bax-activated"
                            class="btn btn-primary">
                        Choose activated
                    </button>
                </div>
            </div>
            <div class="col-lg-4">
                <b>DTP NCI</b>
                <p>Set of 500 drug-like molecules from DTP NCI.</p>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='small.png') }}" alt="Small set" style="height: 200px">
                    <button type="submit" id="example-small" name="example-small" class="btn btn-primary">Choose
                    </button>
                </div>
            </div>
        </div>

    </form>

    <hr>
    {% include 'base/elixir.html' %}
    <hr>
    {% include 'base/footer.html' %}
</div>

{% endblock body %}