{% extends 'base/base.html' %}

{% block body %}
    <div class="container p-3">
        <div class="d-none mt-3 d-lg-block"></div>
        <form method=post enctype=multipart/form-data>
            <input type="hidden" name="type" id="type" value="example"/>
            <input type="hidden" name="example-name" id="example-name" value="N/A"/>
            <div class="row">
                <div class="col">
                    <h1 style="margin-bottom: 30px" class="font-weight-bold">Atomic Charge Calculator
                        <span style="color: #28a745">II</span></h1>
                    <span class="font-weight-bold">Atomic Charge Calculator <span
                            style="color: #28a745">II</span></span>
                    (ACC II) is an application for fast calculation of partial atomic charges. It features
                    <a href="{{ url_for('static', filename='methods.pdf') }}" target="_blank">20 empirical
                        methods</a> along with parameters from literature.
                    <a href="{{ url_for('static', filename='manual.pdf') }}" target="_blank">Short introduction</a>
                    covers the basic usage of ACC II. All methods and parameters are also available in a command-line
                    <a href="https://github.com/krab1k/ChargeFW2" target="_blank" rel="noreferrer"> application</a>
                    that can be used in user workflows.
                </div>
            </div>
            <hr>

            {% include 'base/flash.html' %}

            <div class="row">
                <div class="col">
                    <h3>Upload structure</h3>
                    <div class="form-group">
                        <label class="font-weight-bold" for="file_input">Input file</label>
                        <input type="file" class="form-control-file" id="file_input" name="file"
                               accept=".pdb, .sdf, .mol2, .cif">
                        <small class="form-text text-muted">
                            Single sdf, mol2, pdb or mmcif file or archive (zip, tar.gz) of those files.
                            Maximum file size: 10 MB
                        </small>
                    </div>
                    <button type="submit" id="charges" name="charges" class="btn btn-success"
                            title="Direct computation of charges using automatically selected empirical charge calculation method.">
                        Compute charges
                    </button>
                    <button type="submit" id="settings" name="settings" class="btn btn-secondary"
                            title="Selection of empirical charge calculation method and its parameters.">
                        Setup computation
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h3>Examples</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <b>Dissociating hydrogens</b><br>
                    <img src="{{ url_for('static', filename='propofol.png') }}" alt="Dissociating hydrogens"
                         style="height: 200px">
                    <p><small>
                        This example focuses on acid dissociation of seven phenolic drugs, described in
                        <a href="https://www.drugbank.ca/" target="_blank" rel="noreferrer">DrugBank</a>. Their
                        structures were obtained from
                        <a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank" rel="noreferrer">PubChem</a>.
                        During the acid dissociation, these compounds release a hydrogen from the phenolic OH group.
                        Using ACC II, we can examine a relation between pKa and a charge on the dissociating hydrogen.
                        We found that the higher is pKa, the lower charge the hydrogen has
                        (see <a href="{{ url_for('static', filename='pka.pdf') }}" target="_blank" rel="noreferrer">table</a>).
                        This finding agrees with results published in
                        <a href="https://pubs.acs.org/doi/full/10.1021/ci200133w" target="_blank" rel="noreferrer">literature</a>.
                    </small>
                    </p>
                    <div class="text-center">
                        <button type="submit" id="example-phenols" name="example-phenols" class="btn btn-primary mb-2">
                            Phenols
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <b>Apoptotic protein activation</b><br>
                    <img src="{{ url_for('static', filename='bax.png') }}" alt="BAX" style="height: 200px">
                    <p><small>BAX protein regulates an apoptosis process. In our example, we show inactive BAX (PDB ID
                        <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/1f16" target="_blank" rel="noreferrer">1f16</a>)
                        and activated BAX (PDB ID
                        <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/2k7w" target="_blank" rel="noreferrer">2k7w</a>).
                        The activation causes a charge redistribution that also includes C domain <a
                                href="{{ url_for('static', filename='bax.pdf') }}" target="_blank">depolarization</a>.
                        This depolarization causes release of the C domain, which can then penetrate mitochondrial
                        membrane and start the apoptosis as described in the
                        <a href="https://doi.org/10.1371/journal.pcbi.1002565" target="_blank" rel="noreferrer">literature</a>.
                    </small></p>
                    <div class="text-center">
                        <button type="submit" id="example-bax-inactive" name="example-bax-inactive"
                                class="btn btn-primary">
                            Inactive
                        </button>
                        <button type="submit" id="example-bax-activated" name="example-bax-activated"
                                class="btn btn-primary">
                            Activated
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <b>Transmembrane protein</b><br>
                    <img src="{{ url_for('static', filename='receptor.png') }}"
                         alt="The nicotinic acetylcholine receptor" style="height: 200px">
                    <p><small>The nicotinic acetylcholine receptor passes the cell membrane
                        (see the <a href="{{ url_for('static', filename='receptor.pdf') }}" target="_blank"
                                    rel="noreferrer">figure</a>, part A)
                        and serves as an ion channel
                        (more <a href="https://www.sciencedirect.com/science/article/abs/pii/S0022283604016018"
                                 target="_blank" rel="noreferrer">details</a>).
                        We obtained its structure from Protein Data Bank Europe
                        (PDB ID <a href="https://www.ebi.ac.uk/pdbe/entry/pdb/2bg9" target="_blank" rel="noreferrer">2bg9</a>),
                        added missing hydrogens via
                        <a href="https://swift.cmbi.umcn.nl/whatif/" target="_blank" rel="noreferrer">WHAT IF</a>
                        and calculated the partial atomic charges using ACC II with default settings. Visualization of
                        partial charges on the surface highlights the difference between nonpolar transmembrane part
                        (mostly white due to charge around zero) and polar surface of extracellular and cytoplasmic
                        parts (with mosaic of blue positive and red negative charges). The
                        <a href="{{ url_for('static', filename='receptor.pdf') }}" target="_blank" rel="noreferrer">comparison</a>
                        demonstrates that this charge distribution agrees with receptor membrane position reported in
                        <a href="https://www.sciencedirect.com/science/article/pii/S0022283604016018" target="_blank"
                           rel="noreferrer">literature</a>.
                    </small>
                    </p>
                    <div class="text-center">
                        <button type="submit" id="example-receptor" name="example-receptor" class="btn btn-primary">
                            Receptor
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <small>
                        If you found <span class="font-weight-bold">Atomic Charge Calculator <span
                            style="color: #28a745">II</span></span> helpful, please cite: <i>Raček, T., Schindler, O.,
                        Toušek, D., Horský, V.,
                        Berka, K., Koča, J., & Svobodová, R.
                        (2020). <a href="https://doi.org/10.1093/nar/gkaa367" target="_blank" rel="noreferrer">Atomic
                            Charge Calculator II: web-based tool for the calculation of partial atomic
                            charges</a>. Nucleic Acids Research.</i>
                    </small>
                    <small>
                        Are you interested in a research collaboration? Feel free to <a
                            href="mailto:radka.svobodova@ceitec.muni.cz">contact us</a>.
                    </small>
                </div>
            </div>
        </form>

        <hr>
        {% include 'base/elixir.html' %}
        <hr>
        {% include 'base/footer.html' %}
    </div>

{% endblock body %}