{% extends 'base/base.html' %}

{% block title %} Atomic Charge Calculator II – Setup computation {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css"
    integrity="sha256-wiMI7buOV5UBzdWN4s4kXqE/LZ794hx5oJOOIQlDBaM=" crossorigin="anonymous">
{% endblock styles %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-3 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom: 30px">
                    {% include 'base/acc2_logo.html' %}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Computation settings</h2>
                <div class="form-text text-muted">
                    Note that the list of methods and parameters shows only suitable combinations for given input
                    structures.
                    See the complete <a href="{{ url_for('static', filename='assets/parameters.pdf') }}"
                        target="_blank">list of parameters</a>.
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="method_selection">Method</label>
                    <br>
                    <select class="form-control selectpicker" data-width="100%" name="method_select"
                        id="method_selection">
                        <optgroup label="3D" id="optgroup3D">
                        </optgroup>
                        <optgroup label="2D" id="optgroup2D">
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold">Full name</label>
                <div id="method_name">
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                </div>
                <label class="font-weight-bold">Publication</label>
                <div id="method_paper">
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="parameters_selection">Parameters</label>
                    <small class="form-text text-muted">
                        The most suitable parameters are shown first.
                    </small>
                    <select class="form-control selectpicker" data-width="100%" name="parameters_select"
                        id="parameters_selection">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold" id="parameters_paper_label">Publication</label>
                <div id="parameters_paper">
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                    <a href="#" tabindex="-1" class="btn btn-secondary disabled placeholder-glow col-12" aria-hidden="true"></a>              
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <button type="button" class="btn btn-outline-success" id="add_to_calculation">Add to
                    calculation</button>
            </div>
        </div>
        <hr>
        <div class="col-12 form-group">
            <div class="row">
                <label class="font-weight-bold" for="calculation_list">Will compute the following charges:</label>
            </div>
            <div class="row" id="calculation_list">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6">
                <button type="submit" class="btn btn-success" id="calculate" disabled>Compute</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" onclick="location.href='{{ url_for("main_site") }}'" type="button">Back
                    to main page</button>
            </div>
        </div>
    </form>

    {% include 'base/flash.html' %}

    <hr>
    {% include 'base/elixir.html' %}

    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script>
<script>
    const method_data = $.parseJSON('{{ methods | tojson | safe }}');
    const parameter_data = $.parseJSON('{{ parameters | tojson | safe }}');
    const suitable_methods = $.parseJSON('{{ suitable_methods | tojson | safe }}');
    const suitable_parameters = $.parseJSON('{{ suitable_parameters | tojson | safe }}');
</script>
{% endblock scripts %}