{% extends 'base/base.html' %}

{% block title %} Atomic Charge Calculator II – Setup computation {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select/bootstrap-select.min.css') }}">
{% endblock styles %}

{% block body %}
<div class="container p-3">
    <div class="d-none mt-3 d-lg-block"></div>
    <form method=post enctype=multipart/form-data>
        <div class="row">
            <div class="col">
                <h1 style="margin-bottom: 30px" class="font-weight-bold">Atomic Charge Calculator <span style="color: #28a745">II</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Computation settings</h2>
                <div class="form-text text-muted">
                    Note that the list of methods and parameters shows only suitable combinations for given input
                    structures.
                    See the complete <a href="{{ url_for('static', filename='parameters.pdf') }}" target="_blank">list of parameters</a>.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="method_selection">Method</label>
                    <br>
                    <select class="form-control selectpicker" data-width="auto" name="method_select" id="method_selection">
                        <optgroup label="3D" id="optgroup3D">
                        </optgroup>
                        <optgroup label="2D" id="optgroup2D">
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold">Full name</label>
                <div id="method_name"></div>
                <label class="font-weight-bold">Publication</label>
                <div id="method_paper"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="font-weight-bold" for="parameters_selection">Parameters</label>
                    <small class="form-text text-muted">
                        The most suitable parameters are shown first.
                    </small>
                    <select class="form-control selectpicker" data-width="auto" name="parameters_select" id="parameters_selection">
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label class="font-weight-bold" id="parameters_paper_label">Publication</label>
                <div id="parameters_paper"></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-success" id="calculate">Compute</button>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-primary" onclick="location.href='{{ url_for("main_site") }}'" type="button">Back to main page</button>
            </div>
        </div>
    </form>

    {% include 'base/flash.html' %}

    <hr>
    {% include 'base/elixir.html' %}

    <hr>
    {% include 'base/footer.html' %}
</div>
{% endblock body %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='bootstrap-select/bootstrap-select.min.js') }}"></script>

    <script>
        const method_data = $.parseJSON('{{ methods | tojson | safe }}');
        const parameter_data = $.parseJSON('{{ parameters | tojson | safe }}');
        const suitable_methods = $.parseJSON('{{ suitable_methods | tojson | safe }}');
        const suitable_parameters = $.parseJSON('{{ suitable_parameters | tojson | safe }}');
    </script>
{% endblock scripts %}

